
.bar-chart {
  width: 100%;
  padding: 10px 0;
}

.bar-name {
  width: 15%;
  text-align: right;
  vertical-align: center;
  padding: 0 10px;
  display: inline-block;
  float: left;
}

.bar-value {
  background-color: red;
  text-align: left;
  display: inline-block;
  float: left
}

.bar-innervalue {
  padding-left: 10px;
}

.filter-input {

}