
.bar-chart {
  display: table;
  width: 100%;
}

.bar-name {
  width: 15%;
  text-align: right;
  margin: 15px;
  display: inline-block;
}

.bar-value {
  background-color: red;
  text-align: left;
  height: 30px;
  display: inline-block;
}

.bar-innervalue {
  padding-left: 10px;
}

.filter-input {
  
}